<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfCja1PXyXQXD3rzwkjwnZJ7vfuSWJIfk</string>
	<key>GCM_SENDER_ID</key>
	<string>607021416060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techassistApp</string>
	<key>PROJECT_ID</key>
	<string>techassist-7b790</string>
	<key>STORAGE_BUCKET</key>
	<string>techassist-7b790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607021416060:ios:e6ec446c3f23e71e7353f9</string>
</dict>
</plist>